version: "3.9"
services:

  testnet:
    image: burnt/xion:develop
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    platform: linux/amd64
    ports:
      - "1317:1317"
      - "26656:26656"
      - "26657:26657"

  # release:
  #   image: burnt/xion:release
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     target: release
  #   platform: linux/amd64
  #   ports:
  #     - "1317:1317"
  #     - "26656:26656"
  #     - "26657:26657"
