swagger: "2.0"
info:
  title: XION - gRPC Gateway docs
  description: A REST interface for state queries
  version: v21.0.0
apis:
  - url: ./cosmos/auth/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: AuthParams
    tags:
      rename:
        Query: Auth
  - url: ./cosmos/authz/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: AuthzParams
    tags:
      rename:
        Query: Authz
  - url: ./cosmos/bank/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: BankParams
    tags:
      rename:
        Query: Bank
  - url: ./cosmos/base/tendermint/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: BaseParams
    tags:
      rename:
        Service: Base
  - url: ./cosmos/consensus/v1/query.swagger.json
    operationIds:
      rename:
        Params: ConsensusParams
    tags:
      rename:
        Query: Consensus
  - url: ./cosmos/circuit/v1/query.swagger.json
    operationIds:
      rename:
        Params: CircuitParams
        Account: CircuitAccount
        Accounts: CircuitAccounts
    tags:
      rename:
        Query: Circuit
  - url: ./cosmos/distribution/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: DistributionParams
    tags:
      rename:
        Query: Distribution
  - url: ./cosmos/evidence/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: EvidenceParams
    tags:
      rename:
        Query: Evidence
  - url: ./cosmos/feegrant/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: FeegrantParams
    tags:
      rename:
        Query: Feegrant
  - url: ./cosmos/gov/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: GovParams
    tags:
      rename:
        Query: Gov
  - url: ./cosmos/gov/v1/query.swagger.json
    operationIds:
      rename:
        Params: GovV1Params
        Proposal: GovV1Proposal
        Proposals: GovV1Proposal
        Vote: GovV1Vote
        Votes: GovV1Votes
        Deposit: GovV1Deposit
        Deposits: GovV1Deposit
        TallyResult: GovV1TallyResult
    tags:
      rename:
        Query: Gov
  - url: ./cosmos/group/v1/query.swagger.json
    operationIds:
      rename:
        Params: GroupParams
        Proposal: GroupProposal
        TallyResult: GroupTallyResult
    tags:
      rename:
        Query: Group
  - url: ./cosmos/mint/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: MintParams
    paths:
      exclude:
        - /cosmos/mint/v1beta1/annual_provisions
        - /cosmos/mint/v1beta1/inflation
    tags:
      rename:
        Query: Mint
  - url: ./cosmos/nft/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: NftParams
        Balance: NftBalance
    tags:
      rename:
        Query: Nft
  - url: ./cosmos/params/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: Params
    tags:
      rename:
        Query: Params
  - url: ./cosmos/slashing/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: SlashingParams
    tags:
      rename:
        Query: Slashing
  - url: ./cosmos/staking/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: StakingParams
        DelegatorValidators: StakingDelegatorValidators
    tags:
      rename:
        Query: Staking
  - url: ./cosmos/tx/v1beta1/service.swagger.json
    dereference:
      circular: ignore
    tags:
      rename:
        Service: Tx
  - url: ./cosmos/upgrade/v1beta1/query.swagger.json
    operationIds:
      rename:
        Params: UpgradeParams
    tags:
      rename:
        Query: Upgrade
  - url: ./cosmwasm/wasm/v1/query.swagger.json
    operationIds:
      rename:
        Params: WasmParams
    tags:
      rename:
        Query: CosmWasm
  - url: ./ibc/applications/interchain_accounts/controller/v1/query.swagger.json
    operationIds:
      rename:
        Params: ICAControllerParams
    tags:
      rename:
        Query: ICA
  - url: ./ibc/applications/interchain_accounts/host/v1/query.swagger.json
    operationIds:
      rename:
        Params: ICAHostParams
    tags:
      rename:
        Query: ICA
  - url: ./ibc/applications/transfer/v1/query.swagger.json
    operationIds:
      rename:
        Params: IBCTransferParams
    tags:
      rename:
        Query: IBC/Apps
  - url: ./ibc/core/channel/v1/query.swagger.json
    operationIds:
      rename:
        Params: IBCChannelParams
    tags:
      rename:
        Query: IBC/Core
  - url: ./ibc/core/client/v1/query.swagger.json
    operationIds:
      rename:
        Params: IBCClientParams
        UpgradedConsensusState: IBCUpgradedConsensusState
    tags:
      rename:
        Query: IBC/Core
  - url: ./ibc/core/connection/v1/query.swagger.json
    operationIds:
      rename:
        Params: IBCConnectionParams
    tags:
      rename:
        Query: IBC/Core
  - url: ./xion/globalfee/v1/query.swagger.json
    operationIds:
      rename:
        Params: GlobalFeeParams
    tags:
      rename:
        Query: XionGlobalFee
  - url: ./xion/jwk/v1/query.swagger.json
    operationIds:
      rename:
        Params: JWKParams
    tags:
      rename:
        Query: XionJWK
  - url: ./xion/mint/v1/query.swagger.json
    operationIds:
      rename:
        Params: XionMintParams
    tags:
      rename:
        Query: XionMint
  - url: ./xion/v1/query.swagger.json
    tags:
      rename:
        Query: Xion

# not included
# ./cosmos/app/v1alpha1/query.swagger.json
# ./cosmos/orm/query/v1alpha1/query.swagger.json
# ./cosmos/query/v1/query.swagger.json
# ./cosmos/autocli/v1/query.swagger.json
# ./cosmos/base/node/v1beta1/query.swagger.json
# ./ibc/lightclients/wasm/v1/query.swagger.json
