name: Build and Test

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Golang CI Lint
    uses: burnt-labs/xion/.github/workflows/golangci-lint.yaml@workflows/main
    secrets: inherit

  update-swagger:
    name: Update Swagger
    uses: burnt-labs/xion/.github/workflows/update-swagger.yaml@workflows/main
    secrets: inherit

  unit-tests:
    name: Go Unit Tests
    uses: burnt-labs/xion/.github/workflows/tests.yaml@workflows/main
    secrets: inherit

  build-docker:
    name: Build Docker Images
    uses: burnt-labs/xion/.github/workflows/docker-build.yaml@workflows/main
    secrets: inherit

  e2e-tests:
    name: E2E tests
    needs:
      - build-docker
    uses: burnt-labs/xion/.github/workflows/e2e-tests.yaml@workflows/main
    secrets: inherit
