name: Build and Test

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Golang CI Lint
    uses: burnt-labs/xion/.github/workflows/golangci-lint.yaml@v15.0.0
    secrets: inherit

  update-swagger:
    name: Update Swagger
    uses: burnt-labs/xion/.github/workflows/update-swagger.yaml@v15.0.0
    secrets: inherit

  unit-tests:
    name: Go Unit Tests
    uses: burnt-labs/xion/.github/workflows/tests.yaml@v15.0.0
    secrets: inherit

  build-integration:
    name: Build Binaries
    uses: burnt-labs/xion/.github/workflows/binaries-test.yaml@v15.0.0
    secrets: inherit

  build-docker:
    name: Build Docker Images
    uses: burnt-labs/xion/.github/workflows/docker-build.yaml@v15.0.0
    secrets: inherit

  interchain-tests:
    name: Interchain tests
    needs: 
      - build-docker
      - build-integration
    uses: burnt-labs/xion/.github/workflows/integration-tests.yaml@v15.0.0
    secrets: inherit
