name: Create Release
# Run for new release tags only

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
      - 'v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Golang CI Lint
    uses: burnt-labs/xion/.github/workflows/golangci-lint.yaml@workflows/main
    secrets: inherit

  update-swagger:
    name: Update Swagger
    uses: burnt-labs/xion/.github/workflows/update-swagger.yaml@workflows/main
    secrets: inherit

  unit-tests:
    name: Go Unit Tests
    uses: burnt-labs/xion/.github/workflows/tests.yaml@workflows/main
    secrets: inherit

  build-darwin:
    name: Build Binaries
    uses: burnt-labs/xion/.github/workflows/binaries-darwin.yaml@workflows/main
    secrets: inherit

  build-linux:
    name: Build Binaries
    uses: burnt-labs/xion/.github/workflows/binaries-linux.yaml@workflows/main
    secrets: inherit

  build-integration:
    name: Build Binaries
    uses: burnt-labs/xion/.github/workflows/binaries-test.yaml@workflows/main
    secrets: inherit

  # build-docker:
  #   name: Build Docker Images
  #   needs: build-linux
  #   uses: burnt-labs/xion/.github/workflows/docker-build.yaml@workflows/main
  #   secrets: inherit

  # push-docker:
  #   name: Push Docker Images
  #   needs: build-docker
  #   uses: burnt-labs/xion/.github/workflows/docker-push.yaml@workflows/main
  #   secrets: inherit

  # push-heighliner:
  #   name: Push Heighliner Images
  #   needs: build-docker
  #   uses: burnt-labs/xion/.github/workflows/heighliner-push.yaml@workflows/main
  #   secrets: inherit

  # docker-scout:
  #   name: Docker Scout
  #   needs: build-docker
  #   uses: burnt-labs/xion/.github/workflows/docker-scout.yaml@workflows/main
  #   secrets: inherit

  # interchain-tests:
  #   name: Interchain tests
  #   needs: 
  #     - build-docker
  #     - build-integration
  #   uses: burnt-labs/xion/.github/workflows/integration-tests.yaml@workflows/main
  #   secrets: inherit

  build-release:
    name: Build Release
    needs:
      - lint
      - update-swagger
      - unit-tests
      - build-darwin
      # - docker-scout
      # - interchain-tests
    uses: burnt-labs/xion/.github/workflows/goreleaser.yaml@workflows/main
    secrets: inherit

  # # TODO: move to goreleaser
  # build-release-info:
  #   name: Build Release Info
  #   needs:
  #     - build-darwin
  #     - build-linux
  #   uses: burnt-labs/xion/.github/workflows/build-release-info.yaml@workflows/main
  #   secrets: inherit

  # TODO: move to goreleaser
  # publish-types:
  #   name: Publish Typescript Types
  #   needs: build-release
  #   uses: burnt-labs/xion/.github/workflows/publish-types.yaml@workflows/main
  #   secrets: inherit

  # TODO: move to triggered action in burnt-networks repo
  # update-networks:
  #   name: Update Networks Repo
  #   needs:
  #     - build-release
  #     - build-release-info
  #   uses: burnt-labs/xion/.github/workflows/update-networks.yaml@workflows/main
  #   secrets: inherit
