name: GoLangCI Lint

# reusable workflow, do not add triggers
on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  golangci:
    name: main
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set Go Version
        id: go-version
        run: echo "version=$(sed -En 's/^go (.*)$/\1/p' go.mod)" >> $GITHUB_OUTPUT

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go-version.outputs.version }}

      - name: golangci-lint-xiond
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          args: --timeout=10m --tests=false
