name: Interchain tests

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

  pull_request:

env:
  CARGO_TERM_COLOR: always
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  go-build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: container-login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: labels
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-heighliner
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
      - name: Heighliner build and push
        id: heighlinerbuild
        uses: burnt-labs/heighliner-action@v1.0.0-alpha10
        with:
          local: true
          tag: ${{ steps.meta.outputs.version }}
          chain: xion
          github-organization: burnt-labs
          github-repo: xion
          dockerfile: cosmos
          build-target: make install
          binaries: "[\"/go/bin/xiond\"]"
          build-env: "[\"BUILD_TAGS=muslc\"]"
      - name: Push docker image
        run: |
          docker tag ${{ steps.heighlinerbuild.outputs.tag }} ghcr.io/burnt-labs/xion/${{ steps.heighlinerbuild.outputs.tag }}
          docker push ghcr.io/burnt-labs/xion/${{ steps.heighlinerbuild.outputs.tag }}

  interchain-tests:
    environment: CI
    runs-on: ubuntu-latest
    needs: [ go-build ]
    strategy:
      fail-fast: false
      matrix:
        test_type:
        - "DungeonTransferBlock"
        - "XionSendPlatformFee"
        - "MintModuleNoInflationNoFees"
        - "MintModuleInflationHighFees"
        - "MintModuleInflationLowFees"

    steps:
      - name: Set up Go 1.18
        uses: actions/setup-go@v4
        with:
          go-version: ^1.18
      - name: checkout
        uses: actions/checkout@v4
      - name: container-login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: docker xion metadata
        id: meta-xion
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-heighliner
      - name: pull xion image
        run: docker pull ghcr.io/burnt-labs/xion/xion:${{ steps.meta-xion.outputs.version }}
      - name: rename xion image
        run: docker tag ghcr.io/burnt-labs/xion/xion:${{ steps.meta-xion.outputs.version }} xion:prebuilt
      - name: build go test binary
        run: cd integration_tests && go test -c
      - name: Run all up ci test
        run: ./integration_tests/integration_tests.test -test.failfast -test.v -test.run Test${{ matrix.test_type }}
        env:
          E2E_SKIP_CLEANUP: true
          XION_IMAGE: xion:prebuilt

