name: Trigger xion-types workflow

on:
  workflow_call: # is called from the create-release workflow
  workflow_dispatch: # manual trigger
  release: # triggered by release event
    types: [published, released] # NOTICE: "published" type is happening when the release is marked as "latest"

jobs:
  trigger-types:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger xion-types workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: burnt-labs/xion-types
          event-type: xion-types-release-trigger # NOTICE: must match the trigger in xion-types workflow
          client-payload: |
            {
              "release_type": "${{ github.event_name == 'workflow_dispatch' && 'latest' || (github.event.release.prerelease == false && github.event.release.draft == false && github.event.release.make_latest == 'true' && 'latest' || 'published') }}",
              "tag_name": "${{ github.event_name == 'workflow_dispatch' && 'v9.9.9-test' || github.event.release.tag_name }}",
              "release_name": "${{ github.event_name == 'workflow_dispatch' && 'Manual Test Release' || github.event.release.name }}"
            }
# client-payload: |
#   {
#     "release_type": "${{ github.event.release.prerelease == false && github.event.release.draft == false && github.event.release.make_latest == 'true' && 'latest' || 'published' }}",
#     "tag_name": "${{ github.event.release.tag_name }}",
#     "release_name": "${{ github.event.release.name }}"
#   }