name: Publish Release

on:
  workflow_call: # is called from the create-release workflow
  workflow_dispatch: # manual trigger
  release: # triggered by release event
    types: [released]
    # Notice:
    # ref: https://docs.github.com/en/webhooks/webhook-events-and-payloads#release
    # - "published" type is happening when the release is marked as "latest"
    # - "released" type is happening when a release was published, or a pre-release was changed to a release.
    # - "prereleased" type is happening when a release was created and identified as a pre-release. A pre-release is a release that is not ready for production and may be unstable.

concurrency: # With concurrency control: Only the latest workflow run executes, previous runs get cancelled
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  trigger-types:
    name: Trigger Types
    uses: burnt-labs/xion/.github/workflows/trigger-types.yaml@workflows/main
    secrets: inherit
  trigger-assets:
    name: Trigger Assets
    uses: burnt-labs/xion/.github/workflows/trigger-assets.yaml@workflows/main
    secrets: inherit
  trigger-homebrew:
    name: Trigger Homebrew
    uses: burnt-labs/xion/.github/workflows/trigger-homebrew.yaml@workflows/main
    secrets: inherit
