name: Create Release and Publish Binaries
# Run for new release tags only

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
      - 'v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GHCR: ghcr.io/${{ github.repository }}
  PLATFORMS: linux/amd64

jobs:
  # build-docker:
  #   name: Build Docker Images
  #   uses: burnt-labs/xion/.github/workflows/docker-build.yml@wf1
  #   secrets: inherit

  # docker-scout:
  #   needs: build-docker
  #   name: Docker Scout
  #   uses: burnt-labs/xion/.github/workflows/docker-scout.yml@wf1
  #   secrets: inherit

  # build-heighliner:
  #   needs: build-docker
  #   name: Heighliner Build
  #   uses: burnt-labs/xion/.github/workflows/heighliner.yml@wf1
  #   secrets: inherit

  # interchain-tests:
  #   needs: build-heighliner
  #   name: Interchain tests
  #   uses: burnt-labs/xion/.github/workflows/integration-tests.yml@wf1
  #   secrets: inherit

  build-release-binaries:
    #needs: interchain-tests
    runs-on: ubuntu-latest
    environment: CI
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Metadata for release
        id: meta-release
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR }}/xion
          tags: |
            type=semver,pattern={{version}}

      - name: Copy xiond binary from linux/amd64 container
        id: copy-binary-amd64
        run: |
          docker create --platform linux/amd64 --name temp_container-amd64 $DOCKER_METADATA_OUTPUT_TAGS
          docker cp temp_container-amd64:/usr/bin/xiond ./xiond-linux-amd64
          ./xiond-linux-amd64 version --long
          docker rm -v temp_container-amd64

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: xiond-linux-amd64
          path: ./xiond-linux-amd64

  build-release:
    needs: build-release-binaries
    runs-on: ubuntu-latest
    environment: CI

    steps:
      - name: Create release directory
        run: mkdir -p release

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: release
          merge-multiple: true

      - name: List files in workspace
        working-directory: release
        run: |
          ls -R

      - name: Create checksums
        working-directory: release
        run: |
          sha256sum * > checksum.txt

      - name: Display checksums
        working-directory: release
        run: |
          cat checksum.txt

      - name: Build Changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Output Changelog
        run: echo "${{steps.changelog.outputs.changelog}}"


      - name: Create and Update Release
        id: create-release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          body: ${{ steps.changelog.outputs.changelog }}
          draft: true
          name: Release ${{ steps.get_version.outputs.VERSION }}
          prerelease: true
          tag: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload the artifacts to release
        run: gh release upload ${{github.ref_name}} release/* --repo ${{github.repository}}
        env:
          GH_TOKEN: ${{ github.token }}