name: Trigger Homebrew

on:
  workflow_call: # is called from the create-release workflow
  workflow_dispatch: # manual trigger

jobs:
  trigger-homebrew:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger homebrew-xion workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: burnt-labs/homebrew-xion
          event-type: homebrew-release-trigger # NOTICE: must match the trigger in homebrew-xion workflow
          # NOTE: This workflow is only called when github.event.action == 'published' (release marked as latest)
          # See publish-release.yaml for the filtering condition
          client-payload: |
            {
              "tag_name": "${{ github.event.release.tag_name }}",
              "release_name": "${{ github.event.release.name }}"
            }
