name: Trigger Chain Registry Update

on:
  workflow_call: # is called from the publish-release workflow
  workflow_dispatch: # manual trigger

jobs:
  trigger-chain-registry:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger chain-registry workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: burnt-labs/chain-registry
          event-type: chain-registry-update-trigger # NOTICE: must match the trigger in chain-registry workflow
          client-payload: |
            {
              "tag_name": "${{ github.event.release.tag_name }}",
              "release_name": "${{ github.event.release.name }}"
            }

