name: Trigger Types

on:
  workflow_call: # is called from the create-release workflow
  workflow_dispatch: # manual trigger

jobs:
  trigger-types:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger xion-types workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: burnt-labs/xion-types
          event-type: xion-types-release-trigger # NOTICE: must match the trigger in xion-types workflow
          client-payload: |
            {
              "release_type": "${{ github.event.action }}",
              "tag_name": "${{ github.event.release.tag_name }}",
              "release_name": "${{ github.event.release.name }}"
            }